# Convex
CONVEX_DEPLOYMENT=https://jovial-tiger-412.convex.cloud
NEXT_PUBLIC_CONVEX_URL=https://jovial-tiger-412.convex.cloud

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3VubnktZ3JpZmZvbi00MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_acdXitSZOOfSU9AwXHUnUDHLcTowTI5H0T8naYR3cw
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/

# Admin Emails (comma-separated)
ADMIN_EMAILS=admin@marliontech.com,social@marliontech.com

# App
NEXT_PUBLIC_APP_URL=http://localhost:3001
NODE_ENV=development
